@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
}
.form {
  @apply grid lg:max-w-3xl 2xl:max-w-4xl px-7 bg-white border rounded-md shadow-lg;
}
.form__fieldset {
  @apply px-4 py-2 my-2 justify-between shadow-md shadow-slate-200 rounded-lg w-full;
}

.form__input {
  @apply text-left border rounded-md text-base items-start w-full h-8 bg-slate-50 px-1 focus-visible:border-0 focus:border-0;
}

.form__label {
  @apply mb-1 block text-left font-bold text-xl text-cyan-900;
}

.form__button {
  @apply text-center mx-auto my-4 w-fit px-4 py-1.5 block font-semibold rounded-md border text-white;
}
